body {
}

.removed {
    opacity: 0.6;
}
.removed .chat-entry > div > span:last-child {
    text-decoration: line-through;
}


.inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

/*remove negative sign*/
.vjs-remaining-time span[aria-hidden=true]:nth-child(2){
    display: none;
}

.vjs-playback-rate.lets-kick-it {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vjs-playback-rate.lets-kick-it .vjs-playback-rate-value {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vjs-playback-rate.lets-kick-it .vjs-menu {
    width: 6em;
}

    /*actions bar*/

.actions-bar {
    display: flex;
}

.actions-bar .lets-kick-it {
    order: -1;
}


.seek-circle.visible {
    opacity: 1;
    transition: opacity 250ms ease;
}

.seek-circle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    Z-INDEX: 5000;
    padding: 15px;
    background: rgb(0 0 0 / 82%);
    aspect-ratio: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: #646e7c2e solid 1px;
    opacity: 0;
    transition: opacity 250ms ease;
}

.seek-circle[data-direction=left] {
    right: unset;
    left: 15px;
}

.seek-circle[data-direction=left] .dot-holder {
    transform: rotate(180deg);
}

.seek-circle .title {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.75;
}

.seek-circle .dot {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-left: 11px solid #ddd; /* border-right: 0px; */
}

.seek-circle .dot:nth-child(1) {
    animation-name: arrow-fade-out-1;
}

.seek-circle .dot:nth-child(2) {
    animation-name: arrow-fade-out-2;
}

.seek-circle .dot:nth-child(3) {
    border-right: 0px;
    animation-name: arrow-fade-out-3;
}

@keyframes arrow-fade-out-1 {
    0% {
        opacity: 0
    }
    17% {
        opacity: .9
    }
    33% {
        opacity: .6
    }
    50% {
        opacity: .3
    }
    67% {
        opacity: .3
    }
    83% {
        opacity: .3
    }
    100% {
        opacity: 0
    }
}

@keyframes arrow-fade-out-2 {
    0% {
        opacity: 0
    }
    17% {
        opacity: .3
    }
    33% {
        opacity: .9
    }
    50% {
        opacity: .6
    }
    67% {
        opacity: .3
    }
    83% {
        opacity: .3
    }
    100% {
        opacity: 0
    }
}

@keyframes arrow-fade-out-3 {
    0% {
        opacity: 0
    }
    17% {
        opacity: .3
    }
    33% {
        opacity: .3
    }
    50% {
        opacity: .9
    }
    67% {
        opacity: .6
    }
    83% {
        opacity: .3
    }
    100% {
        opacity: 0
    }
}